{% extends 'base.html' %}
{% block title %}Piatti{% endblock %}
{% block content %}



<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

{% if piatto.nome_piatto == 'Pasta con tonno' %}
{% set id_piatto = piatto.id %}

<div class="container">
    <h4 class="pb-1">Questi sono gli ingredinti per <strong>{{ piatto.nome_piatto }}</strong></h4>
</div>

<div class="container">

    <h6>Quì andrà inserito l'<strong>html</strong> per il piatto <strong>{{ piatto.nome_piatto }}</strong>, "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</strong></h2>

</div>

{% endif %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

{% if piatto.nome_piatto == 'Pasta alla carbonara' %}
{% set id_piatto = piatto.id %}

<div class="container">
   <h4>Questi sono gli ingredinti per <strong>{{ piatto.nome_piatto }}</strong></h4>
</div>

<div class="container">

    <h6>Quì andrà inserito l'<strong>html</strong> per il piatto <strong>{{ piatto.nome_piatto }}</strong>, "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</strong></h2>

</div>

{% endif %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

{% if piatto.nome_piatto == 'Cotoletta' %}
{% set id_piatto = piatto.id %}

<div class="container">
    <h4>Questi sono gli ingredinti per <strong>{{ piatto.nome_piatto }}</strong></h4>
</div>

<div class="container">

    <h6>Quì andrà inserito l'<strong>html</strong> per il piatto <strong>{{ piatto.nome_piatto }}</strong>, "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</strong></h2>

</div>

{% endif %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

{% if piatto.nome_piatto == 'Tonno' %}
{% set id_piatto = piatto.id %}

<div class="container">
    <h4>Questi sono gli ingredinti per <strong>{{ piatto.nome_piatto }}</strong></h4>
</div>

<div class="container">

    <h6>Quì andrà inserito l'<strong>html</strong> per il piatto <strong>{{ piatto.nome_piatto }}</strong>, "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</strong></h2>

</div>

{% endif %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

{% if piatto.nome_piatto == 'Fagiolini' %}
{% set id_piatto = piatto.id %}

<div class="container">
    <h4>Questi sono gli ingredinti per <strong>{{ piatto.nome_piatto }}</strong></h4>
</div>

<div class="container">

    <h6>Quì andrà inserito l'<strong>html</strong> per il piatto <strong>{{ piatto.nome_piatto }}</strong>, "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</strong></h2>

</div>

{% endif %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

{% if piatto.nome_piatto == 'Patate' %}
{% set id_piatto = piatto.id %}

<div class="container">
    <h4>Questi sono gli ingredinti per <strong>{{ piatto.nome_piatto }}</strong></h4>
</div>

<div class="container">

    <h6>Quì andrà inserito l'<strong>html</strong> per il piatto <strong>{{ piatto.nome_piatto }}</strong>, "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</strong></h2>

</div>

{% endif %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- Inizio sezione Recensioni -->
{% if current_user.is_authenticated %}

        <div class="container pt-3 pb-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Lascia la tua recensione!
            </button>
        
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Inserisci qui il tuo form -->
                    <form action="/newrecensione/{{ id_piatto }}" method="POST" enctype="multipart/form-data">
                    <!-- Aggiungi i campi del tuo form qui -->
                    <div class="mb-3">
                        <label for="txtRecensione" class="form-label">Recensione</label>
                        <textarea class="form-control" id="txtRecensione" name="recensione" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="fileFoto" class="form-label">Foto</label>
                        <input class="form-control" type="file" id="fileFoto" name="file" accept=".jpg, .jpeg, .png">
                    </div>
                    <!-- Aggiungi altri campi del form, se necessario -->     
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-primary">Invia</button>
                    </div>
                    </form>
                </div>
                </div>
            </div> 
            </div>
        </div>

{% endif %}
        {% if recensioni %}
        <div class="container pt-2">
            <h5><em><strong>Recensioni</strong></em></h5>
            <div class="row">
                {% for recensione in recensioni %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        {% if recensione['file'] %}
                        <img src="{{ url_for('static', filename=recensione.file) }}" class="card-img-top" alt="recensione">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ recensione.recensione}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% if current_user.id == recensione.id_utente %}
                            <li class="list-group-item"><a href="{{ url_for('le_mie_recensioni') }}" style="text-decoration: none;"><strong>@{{ recensione.username }}</strong></a>, matricola: <em>{{ recensione.matricola }}</em></li>
                            {% else %}
                            <li class="list-group-item"><strong>@{{ recensione.username }}</strong>, matricola: <em>{{ recensione.matricola }}</em></li>
                            {% endif %}
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item mr-2"><em>{{ recensione.data }}</em></li>   
                        </ul>
                    </div>
                </div>
                {% endfor %} 
            </div>       
        </div>
        {% endif %}

{% endblock %}

